# Google OAuth credentials
GOOGLE_ID=588085719363-hnchrorarf6sfitms5m2bir4suou0sg7.apps.googleusercontent.com

GOOGLE_SECRET=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

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017

# NextAuth secret
NEXTAUTH_SECRET=your_nextauth_secret_here

# Base URL for the application
NEXTAUTH_URL=http://localhost:3000

# Google API Key
NEXT_PUBLIC_API_KEY=your_google_api_key_here
